<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Integration tests settings -->
    <!-- data required to run this project tests, expecting an actual stash instance -->
    <add key="base-url" value="https://stash.cignium.com/"/>
    <add key="username" value="ecastaneda"/>
    <add key="password" value="Cignium071619"/>
    <add key="existing-project" value="DTV"/>
    <add key="existing-repository" value="oms"/>
    <add key="existing-file" value="test.txt"/>
    <add key="existing-commit" value="fd6556e3a36990ec412cd2df7f8361003c8344d5"/>
    <add key="existing-older-commit" value="9b533044d39811db518250b441d472ece955b0e3"/>
    <add key="existing-branch-reference" value="refs/heads/master"/>
    <add key="existing-group" value="Test Group"/>
    <add key="existing-hook" value="com.atlassian.stash.stash-bundled-hooks:force-push-hook"/>
  </appSettings>
</configuration>